<header>
    <div class="topnav">
        <div class="topnav__icon-name">
            <a href="/index">
                <img class="topnav__icon-name_icon" src="/images/icon.jpeg" alt="Nelige Icon">
            </a>
            <div class="topnav__icon-name_textbox">
                <h1>Nelige</h1>
                <p><i>Your provider of good vibes.</i></p>
            </div>
        </div>
        <div class="topnav__navbox">
            <nav class="topnav__navbox_nav">
                <button onclick="navDropdown()" class="topnav__navbox_button"></button>
                <ul class="topnav__navbox_nav_list">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/tracking">Tracking</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/funny/funny.html">Comedy gold</a></li>
                </ul>
            </nav>
            <!-- <button onclick="switchLight()" class="topnav__navbox_switch"></button> -->
            <img class="topnav__navbox_account" src="/icons/account_circle.svg">
        </div>
    </div>
</header>