head 
    link(rel="icon", href="/images/icon.jpeg")

    link(rel="stylesheet", href="/global-styles/default-tags.css")
    link(rel="stylesheet", href="/global-styles/topnav.css")
    link(rel="stylesheet", href="/global-styles/darkmode.css")
    link(rel="stylesheet", href="/global-styles/classes.css")