extends ../../layouts/main
append page-title 
    title About | Nelige
append styles
    link(rel="stylesheet", href="about.css")

append content
    <main>
        <section>
        <h2>Table</h2>
        <div class="table-wrapper">
            <table>
            <thead>
                <tr>
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th>1</th>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                </tr>
                <tr>
                <th>2</th>
                <td>b</td>
                <td>b</td>
                <td>b</td>
                </tr>
                <tr>
                <th>3</th>
                <td>c</td>
                <td>c</td>
                <td>c</td>
                </tr>
                <tr>
                <th>4</th>
                <td>d</td>
                <td>d</td>
                <td>d</td>
                </tr>
            </tbody>
            </table>
        </div>
        </section>

        <section>
        <h2 class="h2-styled">Misc</h2>
        <pre>
            <code>
                |                  ```                                                                           
                |                  `.-/oosssss+-`                                                                   
                |                  `//:-.````.-+dh/`                                                                 
                |                              `smh/`                                                               
                |                        `--.    -sdmys+-                                                           
                |                      :sdmhymy      .::-`                                                           
                |                  `omNm+`  mm                                                                      
                |                  :hdNh.   oNo                                                                      
                |                `:`hN+ `:yms`                                                                      
                |                    /dmdddy/                                          `-:+osys+-                    
                |                    `---.`                                       :+shhhhyssshmmh:                  
                |                                                                  -:--.``  ``.:hNmy.                
                |                                                                      `./sssssy.smNd/`              
                |                                                                    .+hmh+-` /d``+dNmh`             
                |                                        `s/                       :oyNs`   :d:   ./+:              
                |                                        .mms.                     ``mm` `-sd/                      
                |                                          -hmmy:`                   `hmyyhdo.                       
                |                                            /hmNds/`                  -::.                          
                |                                      `..---:odNNNmh+-                                             
                |                                    :ymNNNNNNNNNNNNNNNNms                                           
                |                                      ``.--:://++oossyhhs                                           
                |                  `--`                               ``                                            
                |                  .dmy-                                                  :                   .      
                |                  sNy`                                                  o.                   /      
                |                  yNo                                                  .s                     -     
                |                  /md.                                                 //         -:          h.    
                |                  omd/`                                               +:         :d          od-   
                |                    :ymho-``                                           oo         /M.         `ods- 
                |                      -+hddys+:-.`````                                 oh    `.`  :M+        `  ./: 
                |                        `-/oshdddhyyyysssssoo+//:-.`                  oN  .smd+  .Md     `-.       
                |                                ````...`````                    .     +M-:Nm-o/   dM/  .++.        
                |                                                                .N+    +MoNN.`d`   .dMddh-          
                |                                                                :My`  +MdMd:y.      `.`            
                |                                                                  dNd- +M+ymNdy+:.`                 
                |                                                                  osyNshN. `````                    
                |                                                                  /h :ss:                           
                |                                                                  /y                                
                |                                                                -y:                                
                |                                                                --                                 
            </code>
        </pre>
        </section>
    </main>