extends ../../layouts/main
append page-title 
    title Log in | Nelige

append styles
    link(rel="stylesheet", href="login.css")

append scripts
    
append content
    <main>
        form(class="login-form border-bottom border-2 p-2" onsubmit="return false")
            div(class="alert alert-danger text-center d-none" id="errorMessage" role="alert")
            div(class="mb-2")
                label(for="inputEmail" class="") Email
                <input type="email" id="inputEmail" class="form-control" placeholder="Email">
            div(class="mb-3")
                label(for="inputPassword" class="") Password
                <input type="password" id="inputPassword" class="form-control" placeholder="Password">
            <button onclick="logIn()" class="btn btn-primary">Log In</button>
            div
                <p>New to Nelige? <a href="/signup">Sign up</a></p>
    </main>

append post-scripts
    <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-website/bundle/bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    script(src="login.js")