extends ../../layouts/main
append page-title 
    title Sign up | Nelige

append styles
    link(rel="stylesheet", href="signup.css")

append scripts
    
append content
    <main>
        form(class="signup-form border-bottom border-2 p-2" onsubmit="return false")
            div(class="alert alert-danger text-center d-none" id="errorMessage" role="alert")
            div(class="mb-2")
                label(for="inputUsername" class="") Username
                <input type="text" id="inputUsername" class="form-control" placeholder="Username">
            div(class="mb-2")
                label(for="inputEmail" class="") Email
                <input type="email" id="inputEmail" class="form-control" placeholder="Email">
            div(class="mb-3")
                label(for="inputPassword" class="") Password
                <input type="password" id="inputPassword" class="form-control" placeholder="Password">
            <button onclick="signUp()" class="btn btn-primary">Sign up</button>
            div
                <p>Already have an account? <a href="/login">Log in</a></p>
    </main>

append post-scripts
    <script src="https://cdn.jsdelivr.net/gh/supertokens/supertokens-website/bundle/bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    script(src="signup.js")