extends ../../layouts/main
append page-title 
    title Tools | Nelige

append styles
    link(rel="stylesheet", href="tools.css")

append scripts
    
append content
    <main>
        div(class="d-flex flex-wrap justify-content-around align-items-start")
            form(action="/items/" method="post" class="border rounded p-2 m-1")
                p(class="") #[strong Create new item]
                p(class="") Item name
                <input class="login-form__input w-100 " placeholder="Item name">
                p(class="") Item description*
                <input class="login-form__input w-100" placeholder="Item description">
                p(class="") User ID that it belongs to
                <input class="login-form__input w-100" placeholder="User ID">
                p(class="") Place ID that it belongs to
                <input class="login-form__input w-100" placeholder="Place ID">
                <button type="submit" onclick="createItem()" class="w-100 my-3">Submit</button>

            form(action="/places/" method="post" class="border rounded p-2 m-1")
                p(class="") #[strong Create new place]
                <button type="submit" onclick="createPlace()" class="w-100 my-3">Submit</button>

            form(action="/places/" method="patch" class="border rounded p-2 m-1")
                p(class="") Assign #[strong place to user]
                p(class="") Place ID that you want to assign
                <input class="login-form__input w-100" placeholder="Place ID">
                p(class="") User ID that it will be assigned to
                <input class="login-form__input w-100" placeholder="User ID">
                <button type="submit" onclick="assignPlace()" class="w-100 my-3">Submit</button>

        hr

        div(class="d-flex flex-wrap justify-content-around align-items-start")
            form(action="/users/" method="delete" class="border rounded p-2 m-1")
                p(class="") #[strong Delete User by ID]
                <input class="login-form__input w-100" placeholder="User ID">
                <button type="submit" onclick="createPlace()" class="w-100 my-3">Submit</button>

            form(action="/places/" method="delete" class="border rounded p-2 m-1")
                p(class="") #[strong Create new place]
                <input class="login-form__input w-100" placeholder="Place ID">
                <button type="submit" onclick="createPlace()" class="w-100 my-3">Submit</button>

            form(action="/items/" method="delete" class="border rounded p-2 m-1")
                p(class="") #[strong Create new place]
                <input class="login-form__input w-100" placeholder="Item ID">
                <button type="submit" onclick="createPlace()" class="w-100 my-3">Submit</button>
    </main>