extends ../../layouts/main
append page-title 
    title Tracking | Nelige

append styles
    link(rel="stylesheet", href="tr-styles.css")

append scripts
    script(src="table-data.js")

append content
    <main>
        <section>
            <h2>My items</h2>
            <div class="items-table">
                <form onsubmit="return false">
                    <input type="number" class="items-table__input" placeholder="Enter item ID">
                    <img class="items-table__loading" src="../icons/tail-spin.svg">
                    <button onclick="addItem()" class="items-table__add">Add</button>
                </form>
                <div class="table-wrapper">
                    <table class="items-table__data">
                        <thead>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>